@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020817;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-indigo-400 to-violet-400 bg-clip-text text-transparent;
  }
}
